<p>my-bookings works!</p>



<!--   

habria que añadir pipe formtDate  y divisa 

ej   

 <td>{{ booking.startDate | formatDate }}</td>
        <td>{{ booking.endDate | formatDate }}</td>
        <td>{{ booking.serie.title }}</td>
        <td>{{ booking.serie.thema }}</td>
        <td>{{ booking.price | divisa }}</td>
        <td>{{ booking.discount }}</td>



         <td>{{ booking.startDate | formatDate }}</td>
        <td>{{ booking.endDate | formatDate }}</td>
        <td>{{ booking.movie.title }}</td>
        <td>{{ booking.movie.thema }}</td>
        <td>{{ booking.price | divisa }}</td>
        <td>{{ booking.discount }}</td>

-->